<%# ジャンル編集 %>
<div class='container'>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>ジャンル編集</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= form_with model: @genre, url: admin_genre_path(@genre), local: true do |f| %>
            <div class="form-group">
              <td><%= f.label :name, "ジャンル名" %></td>
              <td><%= f.text_field :name, placeholder: "ジャンル名", class: 'form-control genre_name' %></td>
              <td><%= f.submit "変更を保存", class: 'btn btn-success mt-2' %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>