<div class='container-fluid'>
  <div class='row'>
    <div class="col-md-8 offset-md-2 mt-3">
      <h2 class="p-2">注文履歴一覧</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th scope='col' style='width: 20%'>購入日時</th>
            <th scope='col' style='width: 30%'>購入者</th>
            <th scope='col' style='width: 20%'>注文個数</th>
            <th scope='col' style='width: 20%'>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.created_at.strftime('%Y-%m-%d'),admin_order_path(order) %></td>
              <td><%= order.customer.last_name + order.customer.first_name %></td>
              <td><%= order.item_total %></td>
              <td><%= order.status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
