<div class="container">
  <h3 class="m-3">注文履歴一覧</h3>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払い金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <%# @addresses.each do |address| %>
        <tr>
          <td>2019/11/5</td>
          <td>北海道</td>
          <td>いちご</td>
          <td>2300</td>
          <td>入金金額</td>
          <td>
            <%= link_to "表示する", orders_path, class: "btn btn-success btn-sm" %>
          </td>
        </tr>
      <%# end %>
    </tbody>
  </table>
</div>