.pagination>li>a {          
  border: none;     
  color: #696969;   
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;     
}

.pagination>li>a:hover {        
  border-radius: 15px;   
}

.custom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* 必要に応じて調整 */
  text-align: center; /* テキストを中央揃えに */
}